
!.vscode/extensions.json
# Editor directories and files
# Logs
*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
.DS_Store
.data/
.idea
.vscode/*
coverage/
dist
dist-ssr
e2e/.tmp/
e2e/screenshots/
lerna-debug.log*
logs
node_modules
npm-debug.log*
playwright-report/
pnpm-debug.log*
test-results/
yarn-debug.log*
yarn-error.log*
